<!doctype html>
<html ng-app>
  <head>
    <link href='css/bootstrap.min.css' rel='stylesheet' media='screen'>
    <script src='js/jquery-2.1.0.min.js'></script>
    <script src='js/angular-1.2.13.min.js'></script>
    <script src='js/ui-bootstrap-tpls-0.3.0.js'></script>
    <script src='report.js'></script>
    
    <link href="css/prettify.css" type="text/css" rel="stylesheet" />
 <script type="text/javascript" src="js/prettify/run_prettify.js"></script>
  </head>
  <body> <div ng-controller="ResultListCtrl">
    <span class='span12'>
     
        <h2>Results</h2>
        <table>
          <tr ng-repeat="result in results">
            <td><a ng-click='editResult($index)'>{{result.rule.name}}</a></td>
            <td>{{result.rule.name}}</td>
            <td><a ng-click='showResult($index)'>{{result.filename}}</a></td>
            <td>{{result.line}}</td>
          </tr>
   </table>
    
    </span>
    <span class='span6'>
      <div class='result-detail' >
       Blah: {{current.filename}}<br>
     <iframe src='{{current.filename}}'></iframe>
        <input type='text' id='result_name' ng-model='current.rule.name' editable=false>
        </input>
        <br>
        <textarea type='text' id='result_detail' ng-model='current.rule.test'></textarea>
        <br>
        <input type='text' id='result_desc' ng-model='current.rule.desc'>
        </input>
        <br>
        <input type='text' id='result_rec' ng-model='current.rule.rec'>
        </input>
        <br>
        <button ng-click='saveRule()'>
          Update
        </button>
      </div>
    </span>
      </div>
  </body>
</html>
