@import url("bootstrap.css");
@import url("dashboard.css");
@import url("codemirror.css");
@import url("codemirror-mdn.css");
@import url("prettify.css");

html, body {
  height: 100%;
  width: 100%;
}

pre.prettyprint{
    width: auto;
    max-width: 600px;
    overflow: auto;
    font-size: x-small;
}

.navbar {
  background: #4D4E53;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #0095DD;
}

a {
  cursor:pointer;
}

.sidebar {
  background-color: #EAEFF2;
}

.jumbotron {
  background: #D4DDE4;
}

.table {
  border: 1px solid #EAEFF2;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #EAEFF2;
}

.sidebar-inputfiles{
  font-size: x-small;
}

.CodeMirror {
  border: 1px solid #EAEFF2;
  height:500px;
}

.badge {
  margin: 3px 3px 3px 3px;
}
