@import url("bootstrap.css");
@import url("dashboard.css");
@import url("codemirror.css");
@import url("codemirror-mdn.css");
pre.prettyprint{
    width: auto;
    max-width: 600px;
    overflow: auto;
    font-size: x-small;
}

.navbar {
  background: #4D4E53;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #FF9500;
}

a {
  cursor:pointer;
}

.sidebar {
  background-color: #EAEFF2;
}

.jumbotron {
  background-color: #EAEFF2;
}
